[Unit]
Description=Disk Usage Tree Timer

[Timer]
OnBootSec=10m
OnUnitActiveSec=2h
RandomizedDelaySec=1800
AccuracySec=15m
Unit=disk-usage-tree.service

[Install]
WantedBy=timers.target
